<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.conductor.ptms.conductor">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QrCodeScanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RouteSelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SrcDestinationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IssueTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TicketConfirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".StartTripActivity" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".LogoutAndAgainIssueActivity" android:screenOrientation="portrait"/>
        <activity android:name=".StopTripActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CardPassOptionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".scanCardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".cardPinActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CashPaymentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ScanPassActivity" android:screenOrientation="portrait"/>
        <activity android:name=".VerifySrcDestOfPassActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>